* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__nav--categorias{
    list-style: none;
}

.footer__nav--categorias{
    list-style: none;
}

a{
    text-decoration: none; 
    color: inherit;
}